{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="slogan-font text-orange mb-4">Your Wishlist</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if wishlist_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-orange">
                            <tr>
                                <th scope="col">Item</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Go To Product</th>
                                <th scope="col">Remove From Wishlist</th>
                            </tr>
                        </thead>

                        {% for item in wishlist_items %}
                            <tr class="text-orange">
                                <td class="p-3 w-25">
                                    <img class="img-fluid rounded" src="{{ item.image_url }}">
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.name }}</strong></p>
                                    <p class="my-0 small text-muted">SKU: {{ item.sku }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ item.price }}</p>
                                </td>
                                <td class="py-3">
                                    <a href="{{ item.url }}" class="btn btn-outline-orange rounded-0 mt-5">
                                        <span class="text-uppercase">Take Me To Product</span>
                                        <span class="icon">
                                            <i class="fas fa-cart-shopping"></i>
                                        </span>
                                    </a>
                                </td>
                                <td class="py-3">
                                    <a href="{% url 'remove_from_wishlist' item.id %}" class="btn btn-outline-orange rounded-0 mt-5">
                                        <span class="text-uppercase">Remove Product</span>
                                        <span class="icon">
                                            <i class="fas fa-x"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <p class="text-orange mb-4">Your wishlist is currently empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-orange rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Products</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

