/* Colours */


html {
    height: 100%;
}

body {
    background: url('/media/body.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px); 

}

#topnav {
    background: linear-gradient(90deg, rgba(16,73,2,1) 0%, rgba(1,116,16,1) 27%, rgba(10,138,84,1) 49%, rgba(0,183,255,1) 67%, rgba(4,59,122,1) 100%);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 2rem;
    width: 2rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: "Pacifico", cursive; 
    font-weight: 400;
    font-size: 40px;
    text-shadow: 3px 3px 3px #000;
}

.slogan-font {
    text-transform: uppercase;
    font-family: helvetica;
    font-weight: 600;
    font-size: 50px;
    text-shadow: 3px 3px 3px #000;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-orange {
    color: rgb(250, 83, 6) !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}